<a href="https://colab.research.google.com/github/ahilgithub/Basics-of-python/blob/main/2nd_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##1.What are data structures, and why are they important?

# Data Structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized and stored.
# 1.Managing complexity
# 2.Strategic storage use
# 3.Reusability
# 4.Inversion

In [ ]:
##2.Explain the difference between mutable and immutable data types with examples.

# The main difference between mutable and immutable data types is that mutable data types can be changed after creation,while immutable data types cannot.
# Mutable: Eg- Lists,Dictionaries,Sets >>ideal for situations where changes to the object are frequent,e.g.,dynamic data storage
# list1 = [1,2,3] >> list1 [0] = 10
# Immutable: Eg- Integers,Floats,Strings,Tuples,Frozensets>>ideal when the object should remain constant throughout the program,e.g.,keys in dictionaries.
# string1 ="hello" >>string1 [0] = "H"

In [ ]:
##3. What are the main differences between lists and tuples in Python?

# Lists and Tuples are both fundamental data structures in python,used to store collections of items.
# Lists are defined using square brackets[]. For eg: my_list = [1,"hello",3.14]
# Tuples are defined using parentheses(). For eg: my_tuple = (1,"hello",3.14). Atuple with a single element requires a trailing comma:(element,).

In [ ]:
##4.Describe how dictionaries store data.

# Dictionaries are used to store data values in key:value pairs.A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# my_dict = {}
# print (my_dict)
# dictionary with keys as integer > my_dict = {1:'one',2:'two'}
# print (my_dict)

In [ ]:
##5. Why might you use a set instead of a list in Python.

# 1.uniqueness >>cannot contain duplicate elements
# 2.membership testing >>sets are significantly faster than lists
# 3.removing duplicates>>by converting list to a set, the duplicate elements are automatically eliminated.
# 4.order is not important.
# 5.set operations are needed.

In [ ]:
##6. What is a string in Python, and how is it different from a list.

# A string is a sequence of characters between single or double quotes.A list is a sequence of items,where each item could be anything(an integer,float etc).
# Both strings and lists have lengths:a string's length is the number of characters in the string;a list's length is the number of items in the list.
# we can access individual characters in a string,or items in a list,using square-bracket indexing.

In [ ]:
##7. How do tuples ensure data integrity in Python.

# Tuples in python ensure data integrity through their immutability.Once a tuple is created,its elements cannot be modified,added,or removed.
# 1.Prevention of Accidental Modification
# 2.Guarantee of Data Consistency
# 3.Suitability for use as Dictionary keys
# 4.Enhanced Performance
# 5.Protection against unauthorized changes.

In [ ]:
##8. What is a hash table, and how does it relate to dictionaries in Python.

# A hash table is a data structure that stores key-value pairs.It uses a hash function to compute an index(hash code)for each key,which determines the position.
# Eg: In python,dictionaries are implemented using hash tables.
# when a key-value pair is added to a dictionary,python calculates the hash value of the key and uses it to determine the index in the underlying hash table where the value is stored.

In [ ]:
##9.Can lists contain different data types in Python.

# Yes,a list in python can contain elements of different data types.Python lists are versatile and do not enforce a single data type constraint on their elements.
# This means you can have a list containing integers,strings,floats,booleans,or even other lists,all within the same list.
# Eg: my_list = [1,"hello",3.14,True,{1,2,3}]

In [ ]:
##10. Explain why strings are immutable in Python.

# In python,immutability means that once an object is created,its internal state cannot be changed.
# Reasons for string immutability:
# Efficiency,Thread safety,String interning,security,Hashable.

In [ ]:
##11.What advantages do dictionaries offer over lists for certain tasks.

# Dictionaries in Python offer fast data retrieval;unlike lists where you have to traverse through each element to find a value,
# dictionaries use hash tables for quick access to values based on keys.

In [ ]:
##12. Describe a scenario where using a tuple would be preferable over a list.

# Tuples are faster than lists.Tuples make the code safe from any accidental modification.If a data is needed in a program which is not supposed to be changed,
# then it is better to put it in 'tuples'than in 'list'.

In [ ]:
##13. How do sets handle duplicate values in Python.

# Sets in Python are designed to store only unique elements.When attempting to add a duplicate value to a set,the set automatically discards the duplicate,
# ensuring that it maintains its property of containing only distinct elements.

In [ ]:
##14.How does the “in” keyword work differently for lists and dictionaries.

# The 'in'keyword in Python returns True if a certain element is present in a Python object,else it will return False.
# It has two purposes:to check if a value is present in a list,tuple,range,string,etc.To iterate through a sequence in a for loop.

In [ ]:
##15. Can you modify the elements of a tuple? Explain why or why not.

# No,you cannot modify the elements of a tuple in Python because tuples are "immutable,"meaning once created,their elements cannot be changed,added,or removed;
# unlike lists which are mutable and allow for modifications.

In [ ]:
##16. What is a nested dictionary, and give an example of its use case.

# A nested dictionary is a dictionary that contains other dictionaries,and is used to represent data with multiple levels of organization.
# Here are some examples of use cases for nested dictionaries: Employee records,Inventory systems,JSON data.
# In Python,you can create a nested dictionary by placing comma-separated dictionaries enclosed within braces.
# For example,an empty nested dictionary would be Dict = {'Dict1' : {},'Dict2' : {}}.

In [ ]:
##17.Describe the time complexity of accessing elements in a dictionary.

# The time complexity of accessing elements in a Python dictionary is O(1)on average,which means it takes a constant amount of time to retrieve a value by its key:
# Here are the time complexities of some other common dictionary operations in Python:
# Adding a key-value pair;Modifying a value by key;Removing a key-value pair by key;Iterating over the keys,values,or items.

In [ ]:
##18. In what situations are lists preferred over dictionaries.

# If you need an ordered collection,like a sequence of user actions,lists are your go-to.On the other hand,when you need quick look-ups,
# like mapping usernames to user data,dictionaries are invaluable.

In [ ]:
##19. Why are dictionaries considered unordered, and how does that affect data retrieval.

# Dictionaries maintain the insertion order of keys.This means that when you iterate over a dictionary,the keys will be returned in the order they were added.
# Dictionaries were considered unordered,meaning that the order of keys was not guaranteed.

In [ ]:
##20. Explain the difference between a list and a dictionary in terms of data retrieval.

# A list is an ordered collection of items,whereas a dictionary is an unordered data collection in a key:value pair.
# Elements from the list can be accessed using the index,while the elements of the dictionary can be accessed using keys.

In [ ]:
##1. Write a code to create a string with your name and print it.

In [ ]:
name = "Ahilya"
print (name)

Ahilya

In [ ]:
##2. Write a code to find the length of the string "Hello World".

In [ ]:
print ("Hello World")

Hello World

In [ ]:
##3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str = "python programming"
first_three = str[:3]
print (first_three)

pyt

In [ ]:
##4.Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
print (str.upper())

HELLO

In [ ]:
##5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str = "I like apple"
print (str.replace("apple","orange"))

I like orange

In [ ]:
##6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1,2,3,4,5]
print (list)

[1, 2, 3, 4, 5]

In [ ]:
##7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
input = [1,2,3,4]
input.append(10)
print (input)

[1, 2, 3, 4, 10]

In [ ]:
##8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
input = [1,2,3,4,5]
input.remove(3)
print (input)

[1, 2, 4, 5]

In [ ]:
##9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
print (['a','b','c','d'][1])

b

In [ ]:
##10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print (my_list)

[50, 40, 30, 20, 10]

In [ ]:
##11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10,20,30)
print (tuple)

(10, 20, 30)

In [ ]:
##12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
tuple = ('apple','banana','cherry')
print (tuple[0])

apple

In [ ]:
##13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple = (1,2,3,2,4,2)
print (tuple.count(2))

3

In [ ]:
##14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog','cat','rabbit')
print (tuple.index('cat'))

1

In [ ]:
##15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple = ('apple','orange','banana')
print ('banana' in tuple)

True

In [ ]:
##16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
list = {1,2,3,4,5}
print (list)

{1, 2, 3, 4, 5}

In [ ]:
##17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
set_1 = {1,2,3,4}
set_1.add (6)
print (set_1)

{1, 2, 3, 4, 6}

In [ ]:
##18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10,20,30)
print (tuple)

(10, 20, 30)

In [ ]:
##19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
tuple = ('apple','banana','cherry')
print (tuple[0])

apple

In [ ]:
##20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple = (1,2,3,2,4,2)
print (tuple.count(2))

3

In [ ]:
##21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog','cat','rabbit')
print (tuple.index('cat'))

1

In [ ]:
##22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple = ('apple','orange','banana')
print ('banana' in tuple)

True

In [ ]:
##23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
set_1 = {1,2,3,4,5}
print (set_1)

{1, 2, 3, 4, 5}

In [ ]:
##24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
set_1 = {1,2,3,4}
set_1.add (6)
print (set_1)

{1, 2, 3, 4, 6}